In [1]:
#This is just for arranging the ideas, it is NOT part of excuting the GUI
#its output is teamOutput.xlsx and teamOutput.sqlite
"""
Schedule Generating file
Created by Gelovani Nodar
"""
import openpyxl as xl
from functions import yeardays, get_shiftset, Manager
import pandas as pd 
import os

In [2]:
print("Current Working Directory:", os.getcwd())
current_path= os.getcwd()
print("lst Directory:", os.listdir())
os.chdir(current_path)

Current Working Directory: /Users/asmafaraj/Downloads/scheduleGenerator
lst Directory: ['sch.ipynb', 'functions.py', '.DS_Store', 'LICENSE', 'employees.xlsx', '__pycache__', 'README.md', 'CONTRIBUTING.md', 'schedule.py', 'team_file.xlsx', 'team_output.xlsx', 'TheShiftsDataset.sqlite', 'sched-gen-gui.py']

In [3]:
employees = pd.read_excel('employees.xlsx')
print(type(employees))

<class 'pandas.core.frame.DataFrame'>

In [4]:
managers = []

    # Store amount of rows in one variable
max_row = len(employees)
print(max_row)
    # Transfer information from Managers excel
#Sheet Names: Index(['Employee Name', 'Shift Type', 'Set', 'email'], dtype='object')

for row in range(max_row):
    name = employees['Employee Name'].iloc[row]
    shift_type = employees['Shift Type'].iloc[row]
    mset = employees['Set'].iloc[row]
    email = employees['email'].iloc[row]


    
    # Now you can use these variables (name, shift_type, mset, email) as needed

   # Put Retreived info into the Manager class
    manager = Manager(name, shift_type, mset, email)

        # Append every manager into the managers List
    managers.append(manager)

    # Ask user to provide Year and Month

4

In [5]:
for manager in managers:
    print(manager.name )
    print("Shift Type:", manager.shift_type)
    print("Set:", manager.mset)
    print("Email:", manager.email)
    print("\n")  # Separate each manager's information

Ronald J. Clark
Shift Type: Morning
Set: 1
Email: RonaldJClark@rhyta.com


Cindy L. Schneider
Shift Type: Afternoon
Set: 2
Email: CindyLSchneider@rhyta.com


Jack S. Morgan
Shift Type: Night
Set: 1
Email: JackSMorgan@teleworm.us


Donna J. Eccles
Shift Type: Morning
Set: 2
Email: DonnaJEccles@armyspy.com

In [6]:
while True:
    try:
        user_year = int(input("Enter the year: "))
        break  # Exit the loop if the input is a valid integer
    except ValueError:
        print("Invalid input. Please enter a valid integer for the year.")

# Get user input for the month
while True:
    try:
        user_month = int(input("Enter the month: "))
        if 1 <= user_month <= 12:
            break  # Exit the loop if the input is a valid integer between 1 and 12
        else:
            print("Invalid input. Month must be between 1 and 12.")
    except ValueError:
        print("Invalid input. Please enter a valid integer for the month.")

# Now you have valid user input for year and month
year = user_year
month = user_month

In [7]:
# Generate set days of the given month of the given year
# Assign generated set-days to managers, which have the same set
 
for manager in managers:
    for day in yeardays(year):
        if day.month == month and get_shiftset(day) == "Set 1" and manager.mset == 1:
            manager.shifts.append(day)
        elif day.month == month and get_shiftset(day) == "Set 2" and manager.mset == 2:
            manager.shifts.append(day)
                # Change Python Date to Excel Date
for manager in managers:
    for i in range(len(manager.shifts)):
        manager.shifts[i] = str(manager.shifts[i]).replace("-", "/")

In [8]:
print(manager.shifts )

['1990/09/01', '1990/09/02', '1990/09/03', '1990/09/07', '1990/09/08', '1990/09/09', '1990/09/13', '1990/09/14', '1990/09/15', '1990/09/19', '1990/09/20', '1990/09/21', '1990/09/25', '1990/09/26', '1990/09/27']

In [9]:

team = pd.read_excel('team_file.xlsx')
print("Sheet Names team  :", team.keys())

#Sheet Names team  : dict_keys(['Instructions', 'Shifts', 'Day Notes', 'Members'])
Shifts = pd.read_excel('team_file.xlsx', sheet_name='Shifts')
Instructions = pd.read_excel('team_file.xlsx', sheet_name='Instructions')

DayNotes = pd.read_excel('team_file.xlsx', sheet_name='Day Notes')

Members = pd.read_excel('team_file.xlsx', sheet_name='Members')

Sheet Names team  : Index(['Instructions'], dtype='object')

In [10]:
Shifts.columns

Index(['Member', 'Work Email', 'Group', 'Shift Start Date', 'Shift Start Time',
       'Shift End Date', 'Shift End Time', 'Theme Color', 'Custom Label',
       'Unpaid Break (minutes)', 'Notes', 'Shared'],
      dtype='object')

In [11]:
Shifts.head(60)

Empty DataFrame
Columns: [Member, Work Email, Group, Shift Start Date, Shift Start Time, Shift End Date, Shift End Time, Theme Color, Custom Label, Unpaid Break (minutes), Notes, Shared]
Index: []

In [12]:
type(Shifts)

pandas.core.frame.DataFrame

In [13]:
'''# Transferring managers info to the DataFrame
for manager in managers:
    amount = len(manager.shifts)
    for row in range(0, amount):
        # Append a new row to the DataFrame for each shift
        Shifts = pd.concat([Shifts, pd.DataFrame({
            'Member': [manager.name],
            'Work Email': [manager.email],
            'Shift Start Date': [manager.shifts[row]],
            'Shift End Date': [manager.shifts[row]],
            # Add more columns as needed
        })], ignore_index=True)

# Display the resulting DataFrame
print(Shifts)'''

"# Transferring managers info to the DataFrame\nfor manager in managers:\n    amount = len(manager.shifts)\n    for row in range(0, amount):\n        # Append a new row to the DataFrame for each shift\n        Shifts = pd.concat([Shifts, pd.DataFrame({\n            'Member': [manager.name],\n            'Work Email': [manager.email],\n            'Shift Start Date': [manager.shifts[row]],\n            'Shift End Date': [manager.shifts[row]],\n            # Add more columns as needed\n        })], ignore_index=True)\n\n# Display the resulting DataFrame\nprint(Shifts)"

In [14]:
Shifts.head(50)

Empty DataFrame
Columns: [Member, Work Email, Group, Shift Start Date, Shift Start Time, Shift End Date, Shift End Time, Theme Color, Custom Label, Unpaid Break (minutes), Notes, Shared]
Index: []

In [15]:
'''if manager.shift_type.lower() == 'morning':
    Shifts['Shift Start Time' + str(row)] = '07:00'
    Shifts['Shift End Time' + str(row)] = '15:00'
    Shifts['H' + str(row)] = '2. Blue'
elif manager.shift_type.lower() == 'afternoon':
    Shifts['Shift Start Time' + str(row)] = '15:00'
    Shifts['Shift End Time' + str(row)] = '23:00'
    Shifts['Theme Color' + str(row)] = '3. Green'
elif manager.shift_type.lower() == 'night':
    Shifts['Shift Start Time' + str(row)] = '00:00'
    Shifts['Shift End Time' + str(row)] = '07:00'
    Shifts['Theme Color' + str(row)] = '5. Pink'''

"if manager.shift_type.lower() == 'morning':\n    Shifts['Shift Start Time' + str(row)] = '07:00'\n    Shifts['Shift End Time' + str(row)] = '15:00'\n    Shifts['H' + str(row)] = '2. Blue'\nelif manager.shift_type.lower() == 'afternoon':\n    Shifts['Shift Start Time' + str(row)] = '15:00'\n    Shifts['Shift End Time' + str(row)] = '23:00'\n    Shifts['Theme Color' + str(row)] = '3. Green'\nelif manager.shift_type.lower() == 'night':\n    Shifts['Shift Start Time' + str(row)] = '00:00'\n    Shifts['Shift End Time' + str(row)] = '07:00'\n    Shifts['Theme Color' + str(row)] = '5. Pink"

In [16]:

for manager in managers:
    amount = len(manager.shifts)

    for row in range(0, amount):

        # Append a new row to the DataFrame for each shift
        Shifts = Shifts._append({ # append method in panads is   _append !! 
            'Member': manager.name,
            'Work Email': manager.email,
            'Shift Start Date': manager.shifts[row],
            'Shift End Date': manager.shifts[row],
            'Shift Start Time' :  '07:00',
            'Shift End Time' : '15:00',
            # Add more columns as needed
            'Shift Start Time': '07:00' if manager.shift_type.lower() == 'morning' else ('15:00' if manager.shift_type.lower() == 'afternoon' else '00:00'),
            'Shift End Time': '15:00' if manager.shift_type.lower() == 'morning' else ('23:00' if manager.shift_type.lower() == 'afternoon' else '07:00'),
            'Theme Color': '2. Blue' if manager.shift_type.lower() == 'morning' else ('3. Green' if manager.shift_type.lower() == 'afternoon' else '5. Pink'),
 
        }, ignore_index=True)

In [17]:
Shifts.to_excel('teamOutput.xlsx', index=True)

In [18]:
#Sheet Names team  : dict_keys(['Instructions', 'Shifts', 'Day Notes', 'Members'])
 
team.to_sql("Instructions", 'sqlite:///teamOutput.sqlite', if_exists='replace', index=False)
Shifts.to_sql("Shifts", 'sqlite:///teamOutput.sqlite', if_exists='replace', index=False)
DayNotes.to_sql("Day Notes", 'sqlite:///teamOutput.sqlite', if_exists='replace', index=False)
Members.to_sql("Members", 'sqlite:///teamOutput.sqlite', if_exists='replace', index=False)

0